<div class="container">
  <app-panel>
    <span panel-head>
      Reactive forms
    </span>
    <span panel-body>
      <form [formGroup]='userForm'>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control"  placeholder="First Name" formControlName="firstname">
          <div *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched">
            <div class="alert alert-danger" *ngIf="userForm.get('firstname').errors.required">Please enter first name</div>
            <div class="alert alert-danger" *ngIf="userForm.get('firstname').errors.minlength">Please enter valid first name</div>
          </div>
        </div>
        <div class="form-group">
          <label >Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
          <div *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched">
            <div class="alert alert-danger" *ngIf="userForm.get('lastname').errors.required">Please enter last name</div>
            <div class="alert alert-danger" *ngIf="userForm.get('lastname').errors.minlength">Please enter valid last name</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email" formControlName="email">
          <div  *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
            <div class="alert alert-danger" *ngIf="userForm.get('email').errors.required">Please enter email</div>
            <div class="alert alert-danger" *ngIf="userForm.get('email').errors.pattern">Please enter valid email</div>
          </div>
        </div>
  
          <label>Gender</label>
          Male <input type="radio" value="male" required formControlName="gender" (click)="updateValidity('male')">
          Female <input type="radio"  value="female"  required formControlName="gender" (click)="updateValidity('female')">
          <div  *ngIf="!userForm.get('gender').valid && userForm.get('gender').touched">
            <div class="alert alert-danger" *ngIf="userForm.get('gender').errors.required">Please enter gender</div>
          </div>
       <br>
      <button type="submit" class="btn btn-warning" [disabled]='!userForm.valid'>Submit</button>
      </form>
    </span>
  </app-panel>
</div>
